{% extends 'base.html.twig' %}

{% block title %}Foursquare!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <div id="root" class="root-container"></div>
{% endblock %}

{% block javascripts %}
    <script>
         window.foursquareConfig = {
             clientId: '{{ clientId }}',
             clientSecret: '{{ clientSecret }}',
         };
    </script>
    {{ encore_entry_script_tags('app') }}
{% endblock %}